<div id="<%= dom_id message %>">
  <p>
    <strong>Text:</strong>
    <%= message.text %>
  </p>

  <p>
    <strong>Conversation:</strong>
    <%= message.conversation_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= message.user_id %>
  </p>

</div>
