<div id="<%= dom_id conversation %>">
  <p>
    <strong>Text:</strong>
    <%= conversation.text %>
  </p>

  <p>
    <% conversation.messages.each do |message| %>
      <%= message.text %><br>
    <% end %>
  </p>

</div>
