@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
* {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #343541;
    display: flex;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #202123;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20rem;
    height: 100vh;
}

.button{
    background-color: transparent;
    border: solid 0.5px rgba(225, 225, 225, 0.5);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}

.history {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.messages {

}

.input:focus {
    outline: none;
}

.input-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;
    position: relative;
    width: 100%;

}

.input-container .input {
    border: none;
    border-radius: 10px;
    font-size: 20px;
    height: 28px;
    max-height: 200px;
    padding: 12px 15px;
    resize: none;
    width: 50vw;
    background-color: rgba(68,70,84);

    box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
    rgba(0, 0, 0, 0.05) 0 -12px 30px,
    rgba(0, 0, 0, 0.05) 0 4px 6px,
    rgba(0, 0, 0, 0.05) 0 12px 3px,
    rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.input-container .submit {
    background: none;
    border: none;
    cursor: pointer;
    font-size: x-large;
    left: 93%;
    padding: 12px;
    position: absolute;
    color: rgba(162, 162, 162, 0.67);
}
